doctype html
head
  title #{title}
  link(rel="stylesheet" href="https://push.rocks/assets/css/markdown.css")
  link(href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet")
  style.
    @import 'https://fonts.googleapis.com/css?family=Roboto';
    body {
      margin:0px;
      padding:0px;
      background: #fafafa;
      font-family: 'Roboto', sans-serif;
    }
body
  npmpage-app
script(src='./build.js')
